BODY 			{
	background-color: #000000;
	margin: 0;
	padding: 0;
	font: 80% optima, verdana, arial, sans-serif;
	color: #FFF;
	#font-family: Arial;
}
 .white_body{
 	background-color	:	white;
	font: 80% optima, verdana, arial, sans-serif;
	color: #000;
	#font-family: Arial;
 }

A:visited 	{color:#FFFFFF;}
A:hover 	{color:#FF00CC;}
A:link 		{color:#FFFFFF;}

.mainbox		{
	margin : auto;
	background-color: #333339;
	width: 900px;
	border : #666 ridge;
	#border : blue ridge;
	}

.loginbox		{
	margin : auto;
	background-color: #333339;
	width: 900px;
	border : #666 ridge;
	#border : blue ridge;
	}
	
#pst			{
	margin : auto;
	}
	
/* these style rules are also in the head of the profile document
style rules in the document itself appear to override style rules that are
in a separate style sheet  */

#pst1			{
	background-image: url(../pix/ps/pica.jpg);	
	}
#pst2			{
	background-image: url(../pix/ps/picb.jpg);	
	}
#pst3			{
	background-image: url(../pix/ps/picc.jpg);	
	}
#pst4			{
	background-image: url(../pix/ps/picd.jpg);	
	}
#pst5			{
	background-image: url(../pix/ps/pice.jpg);	
	}
#pst6			{
	background-image: url(../pix/ps/picf.jpg);	
	}
#pst7			{
	background-image: url(../pix/ps/picg.jpg);	
	}
#pst8			{
	background-image: url(../pix/ps/pich.jpg);	
	}
#pst9			{
	background-image: url(../pix/ps/pici.jpg);	
	}
#pst10			{
	background-image: url(../pix/ps/picj.jpg);	
	}
/* end film strip stuff */

#mt				{
	margin : auto;
			}
			
#bt				{
	margin : auto;
			}

/*	start who's on box stuff */			
#wo				{
			width : 150px;
			height : 514px;
			background-color: #666;
			border-left : thin maroon solid;
			border-right : thin maroon solid;
			border-bottom : thin maroon solid;
			padding : 10px;
			background-image: url(../pix/nav/right_box.jpg);	

			}
			
#yside 			{
	width	:	170px;
	height	:	225px;
	border : solid maroon 1px;
	background-image: url(../pix/nav/yside.png);
}
			
.wotext			{
	font-size: 1.5em;
	#text-align	:	center;

}

.medtext		{
	color		: 	#FFF;
	#	color	:	blue;
	font-size	: 	1.5em;
	text-align	:	center;
}

.medtext_left		{
	color		: #FFF;
	font-size	: 1.5em;
	text-align	:	left;
}

.shiftlist		{
	
	color		: #FFF;
	font-size	: 1.5em;
	margin-left	: 50px;
	text-align	:	left;
}
/* end who's on box stuff */

.x5				{
	margin : auto;
	padding : 40px;
	}
	
.x6				{
	padding : 20px;
	
	}
		
.x7				{
	font-size: 1.3em;
	padding : 10px;
	}
	
.x8				{
	width: 59px;
	border : thin maroon solid;
	}
	
.x9				{
	border : thin maroon solid;
	margin : auto;
}

#top_left_box	{
	color: #999999;
	width :170px;
	height : 220px;
	border : thin maroon solid;
	text-align : center;

}

#top_right_box	{

	border : thin maroon solid;

}

#nav_box		{
	font-size: 1.3em;
	width : 150px;
	background-color: #666;
	border : thin maroon solid;
	padding : 10px;
}

.venuetga		{
	width: 550px;
	height: 140px;
	margin : auto;
	border : thin maroon solid;
	background-image: url(../pix/nav/tgagrad.jpg);
}

.venuehtn		{
	width: 550px;
	height: 140px;
	margin : auto;
	border: thin maroon solid;
	background-image: url(../pix/nav/20020104u.jpg);
}

.venueindex		{
	width: 550px;
	background-color: #666;
	margin: auto;
	border : thin maroon solid;
}

.spavenuebox	{
	height : 529px;
	width: 525px;
	background-color: #666;
	border: thin maroon solid;
	background-image: url(../pix/nav/spa.jpg);	
}

.venuebox		{
	#height : 529px;
	width: 525px;
	background-color: #666;
	border: thin maroon solid;
	
}

.venuetext		{
	font-size: 1.7em;
	padding : 20px;
}

.logintext		{
	font-size: 1.6em;
	padding : 10px;
	text-align : right;
}

.xt34		{
	font-size: 1.6em;
	#padding : 5px;
}

.xt35		{
	font-size: 1.8em;
	text-align : center;

}
.xt36		{
	font-size: 2.0em;
	text-align : center;

}
.xt37{

	padding		:	10px;
}
.xt38{

	padding-left		:	10px;
	padding-right		:	10px;
	border-bottom		:	black solid 1px;
}

.wankersbox		{
	height : 529px;
	width: 525px;
	background-color: #666;
	border: thin maroon solid;
	background-image: url(../pix/nav/wall.jpg);	

}

.chattextheader	{
	font-size: 2.4em;
	text-align : center;
	color : #F0C;
	font-weight : bold;
	border : solid #666 1px;

}

.chattext	{
	font-size: 2.3em;
	text-align : center;
	color : #F0C;
	font-weight : bold;
	border : solid #666 1px;

}

.chattextwhite	{
	font-size: 2.3em;
	text-align : center;
	color : #FFF;
	font-weight : bold;
	border : solid #666 1px;

}

.largertext		{
	color: #FFF;
	font-size: 2em;
}

.med1text 		{

	color: #FFF;
	font-size: 1.5em;

}

.main			{
	color: white;
	#font-family: Palatino;
	font-size: 18pt;
}

.credits		{
	background-color: #333333;
	margin : auto;
	width: 895;
	font-family: Arial;
	font-size: 7pt;
	color: #999999;
	text-align : right;

}

.cred_left		{
	float : left;
}

.htntga			{
	font-size : 2em;
	text-align: center;
}

.centre_cell	{
	color : #FFF;
	margin-left : 30px;
	}

.xt				{
	border : solid #666 1px;
	}
	
.xtx			{
	#border : solid #666 1px;
	color : #F0C;
	font-size : 1.6em;
	#	text-align : center;
	}
	
.xtx_pink		{
	border : solid #666 1px;
	color : #F0C;
	font-size : 1.5em;
	text-align : center;
	}
	
.main_list		{
	margin : auto;
	}
	
.ru18 			{
	text-align: center;
	font-size : 3em;
	color: #FFF;
	}

#blanket		{
background-color	:	#111;
opacity				: 	0.65;
filter				:	alpha(opacity=65);
position			:	absolute;
z-index				:	9001;
top					:	0px;
left				:	0px;
width				:	100%;
	}

.adbox 			{
	float : bottom;
}

#phone 			{
	background-color : #F0C;
	#height : 76px;
	font-size : 1.3em;
	border : maroon solid 1px;
	text-align : center;
}

#date			{
	text-align : center;
	height : 25px;
	margin : auto;
	#float : right;
	#padding-right : 40px;
}

#loc			{
	float : left;
	padding-left : 10px;
	#border : solid blue 1px;
}

.smbrk 			{
	font-size : .2em;
}

.thanks 			{
	font-size : .5em;
}

#topnavStrip	{
	margin : auto;
	border : solid maroon 1px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	text-align : center;
	font-size : 1.1em;
	background-color : #C3C;
}

#bottomnavStrip	{

	margin-bottom : none;
	border : solid maroon 1px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	text-align : center;
	font-size : 1.1em;
	background-color : #F69;
}

.ladiesList		{
	text-align : center;
	font-size : 1.5em;
	padding-top : 5px;
}

.clospic		{
	font-family: Arial;
	font-size: 10pt;
	color: #999999;
	float : right;
}

.right_txt		{
	text-align	:	right;
}

.picshop_hr		{
	border : solid #666 1px;
	width	: 80%
}

.text_center	{

	text-align	:	center;
}

#picshop_cell_1 {
	border	: grey solid 5px;
}
#picshop_cell_1:hover {
	border	: whitesmoke solid 5px;
}
#picshop_cell_2 {
	border	: grey solid 5px;
}
#picshop_cell_2:hover {
	border	: whitesmoke solid 5px;
}
#picshop_cell_3 {
	border	: grey solid 5px;
}
#picshop_cell_3:hover {
	border	: whitesmoke solid 5px;
}
#picshop_cell_4 {
	border	: grey solid 5px;
}
#picshop_cell_4:hover {
	border	: whitesmoke solid 5px;
}
#picshop_cell_5 {
	border	: grey solid 5px;
}
#picshop_cell_5:hover {
	border	: whitesmoke solid 5px;
}
#picshop_cell_6 {
	border	: grey solid 5px;
}
#picshop_cell_6:hover {
	border	: whitesmoke solid 5px;
}
#picshop_cell_7 {
	border	: grey solid 5px;
}
#picshop_cell_7:hover {
	border	: whitesmoke solid 5px;
}
#picshop_cell_8 {
	border	: grey solid 5px;
}
#picshop_cell_8:hover {
	border	: whitesmoke solid 5px;
}
#picshop_cell_9 {
	border	: grey solid 5px;
}
#picshop_cell_9:hover {
	border	: whitesmoke solid 5px;
}
#picshop_cell_10 {
	border	: grey solid 5px;
}
#picshop_cell_10:hover {
	border	: whitesmoke solid 5px;
}

#picshop_cell_temp {
	border	: grey solid 5px;
}
#picshop_cell_temp:hover {
	border	: white solid 5px;
}

#upload_box			{
	background-color : grey;
}

.picshop_ed_strip	{
	width : 110px;
	height	:	45px;
	border : grey solid 1px
}
.tn_pic{
	text-align : center;
}

#main_pic_size_box	{
	width 	: 170px;
	height	: 197px;
	border	: grey solid 1px;
	margin	:	auto;

}

/*----------body			{
	font			:	.75em Arial,sans-serif;
	background		:	#FFFFFF;
	color			:	#333333
} -----------*/

/*----------div#container	{
	width			:	500px;
	margin			:	0 auto;
}-----------*/

/*----------p				{
	margin			: 0 0 1.7em;
} -----------*/

/*---------- bubble tooltip -----------*/


a.tt					{
    position		:	relative;
    z-index			:	24;
    #color			:	#3CA3FF;
	#font-weight		:	bold;
    text-decoration	:	none;
}

a.tt span				{
	display			:	none;
}

a.tt:hover				{
	z-index			:	25;
	color			:	#aaaaff;
	/*background:; ie hack, something must change in a for ie to execute it*/
	background		:;
}

a.tt:hover span.tooltip	{
	
    display			:	block;
    position		:	absolute;
    top				:	0px;
    left			:	0;
	padding			:	15px 0 0 0;
	width			:	200px;
	#color			:	#993300;
	color			:	blue;
    text-align		:	center;
	filter			:	alpha(opacity:97);
	KHTMLOpacity	:	0.97;
	MozOpacity		:	0.97;
	opacity			:	0.97;
	font-size		:	10px;
}

a.tt:hover span.top		{
	display			:	block;
	padding			:	10px 8px 0;
    #background		:	url(../pix/nav/bubble.gif) no-repeat top;
    background-color:	whitesmoke;
    border-top		:	grey solid 1px;
    border-left		:	grey solid 1px;
    border-right	:	grey solid 1px;
    
}

a.tt:hover span.middle	{
	/* different middle bg for stretch */
	font-size		:	15px;
	display			:	block;
	padding			:	0 8px; 
	#background		:	url(../pix/nav/bubble_filler.gif) repeat bottom;
    background-color:	whitesmoke;
	border-left		:	grey solid 1px;
    border-right	:	grey solid 1px;
}

a.tt:hover span.bottom	{
	display			:	block;
	padding			:	3px 8px 10px;
	color			:	#548912;
    #background		:	url(../pix/nav/bubble.gif) no-repeat bottom;
    background-color:	whitesmoke;
    border-left		:	grey solid 1px;
    border-right	:	grey solid 1px;
    border-bottom	:	grey solid 1px;
}

.menubox			{
	#border			: 	grey solid 1px;
	color			: 	white;
	text-align 		: 	center;
	margin 			: 	auto;
	padding			:	0 0 0 0;
	width			:	894px;
	
}

.menubox_cell		{
	font-family		:	Arial;
	border			: 	grey solid 1px;
	text-align 		: 	center;
	padding			:	5px 10px 15px 10px;
	color			:	whitesmoke;

}

.check_booking			{
	border			: 	grey solid 1px;
	color			: 	white;
	font-size		: 	1.5em;
	#text-align 		: 	center;
	margin 			: 	auto;
	padding			:	0 0 0 0;
	
}

.check_booking_cell_left	{
	border			: 	grey solid 1px;
	color			: 	white;
	#text-align 	: 	center;
	#margin 			: 	auto;
	padding			:	5px 5px 5px 5px;
	
}

.check_booking_cell_1	{
	border			: 	green solid 1px;
	color			: 	white;
	#text-align 	: 	center;
	#margin 		: 	auto;
	padding			:	5px 30px 5px 30px;
	
}

.check_booking_cell_0	{
	border			: 	red solid 1px;
	color			: 	white;
	#text-align 	: 	center;
	#margin 			: 	auto;
	padding			:	5px 30px 5px 30px;
	
}

.check_booking_cell_note	{
	border			: 	grey solid 1px;
	background-color: 	#333336;
	color			: 	white;
	#text-align 	: 	center;
	#margin 			: 	auto;
	padding			:	5px 30px 5px 30px;
	
}
.payslip_table {
	border			: 	grey solid 1px;
	color			: 	white;
	#font-size		: 	1.5em;
	text-align 	: 	center;
	margin 			: 	auto;
	#padding			:	5px 30px 5px 30px;
	
}
.payslip_header	{
	border			: 	grey solid 1px;
	color			: 	white;
	font-size		: 	1.5em;
	text-align 	: 	center;
	margin 			: 	auto;
	padding			:	5px 30px 5px 30px;
	
}

.payslip_cell	{

    border-bottom	:	grey solid 1px;
	color			: 	white;
	text-align 		: 	center;
	margin 			: 	auto;
	padding			:	5px 30px 5px 30px;
	
}

.psht {
	font-size	:	1.0em;
}

.preview	{
	border			: 	grey solid 1px;
	color			: 	white;
	font-size		: 	1.5em;
	text-align 	: 	center;
	margin 			: 	auto;
	padding			:	5px 30px 5px 30px;
	
}

#main_div			{
	
	height : 100%;
	margin : auto;
	background-color: #333339;
	width: 900px;
	border : #666 ridge;
	}
	
	#main_table			{
	border-collapse : collapse;
	width : 100%;
	height : 100%;
	
	}

#m_cell_left 		{
	width : 146px;
	#background : url(http://localhost/gobetween/img/nav/newsidebgl.jpg);
	background-color: #666;
	padding-right : 10px;
	}
	
#m_cell_right		{
	width : 41px;
	#background : url(http://localhost/gobetween/img/nav/newsidebgr.jpg);
	background-color: #666;
	}

#m_cell_centre		{
	width = 100%;
	border-bottom : #666 solid 1px;
	}
	
#m_cell_centre_cont	{
	padding-left : 10px;
	padding-right : 10px;
	font-size : .7em;
	}
	
#foot_div			{
	border-top : green solid 1px;
	height : 90px;
	width : 100%;
	}
	
.code_notes			{
	
	border			: 	grey solid 1px;
	background-color: 	#333336;
	color			: 	white;
	#text-align 	: 	center;
	#margin 			: 	auto;
	padding			:	5px 30px 5px 30px;
	
}
	
.error_message	{
	border			: 	red solid 1px;
	color			: 	white;
	#text-align 	: 	center;
	#margin 			: 	auto;
	padding			:	5px 30px 5px 30px;
	
}

.greyed_menu_box	{
	color			: 	#999;
	
}
.highlight_menu_box{
	color			:	#93C;
	border			:	#93C solid 1px;
}

/* Driver stuff */

.drivers_table	{
	
	margin	:	auto;
		min-width	:	600px;
}

.drivers_header{
	
	text-align	:	left;

}
.drivers_td {

	min-width	:	60px;
	padding	:	0 20px 0 0;
}

.drivers_row {

}



.drivers_row:hover {

	background	:	#666;
}

.cgtv-img{

	margin-left	:	30px;

}
