BODY 			{
	background-color: #000000;
	margin: 0;
	padding: 0;
	font: 80% optima, verdana, arial, sans-serif;
	color: #FFF;
	#font-family: Arial;
}

A:visited 	{color:#FFFFFF;}
A:hover 	{color:#FF00CC;}
A:link 		{color:#FFFFFF;}

.mainbox		{
	margin : auto;
	background-color: #333339;
	width: 900px;
	border : #666 ridge;
	#border : blue ridge;
	}


/* start film strip suff */	
.fs				{

	}

#pst			{
	margin : auto;
	}
	
/* these style rules are also in the head of the profile document
style rules in the document itself appear to override style rules that are
in a separate style sheet  */

#pst1			{
	background-image: url(../pix/ps/pica.jpg);	
	}
#pst2			{
	background-image: url(../pix/ps/picb.jpg);	
	}
#pst3			{
	background-image: url(../pix/ps/picc.jpg);	
	}
#pst4			{
	background-image: url(../pix/ps/picd.jpg);	
	}
#pst5			{
	background-image: url(../pix/ps/pice.jpg);	
	}
#pst6			{
	background-image: url(../pix/ps/picf.jpg);	
	}
#pst7			{
	background-image: url(../pix/ps/picg.jpg);	
	}
#pst8			{
	background-image: url(../pix/ps/pich.jpg);	
	}
#pst9			{
	background-image: url(../pix/ps/pici.jpg);	
	}
#pst10			{
	background-image: url(../pix/ps/picj.jpg);	
	}
/* end film strip stuff */

#mt				{
	margin : auto;
			}
			
#bt				{
	margin : auto;
			}

/*	start who's on box stuff */			
#wo				{
			width : 150px;
			height : 514px;
			background-color: #666;
			border-left : thin maroon solid;
			border-right : thin maroon solid;
			border-bottom : thin maroon solid;
			padding : 10px;
			background-image: url(../pix/nav/right_box.jpg);	

			}
#yside 			{
	width	:	170px;
	height	:	225px;
	border : solid maroon 1px;
	background-image: url(../pix/nav/yside.png);
}
			
.wotext			{
	font-size: 1.5em;
	#text-align	:	center;

}


.medtext		{
	color		: #FFF;
	font-size	: 1.5em;
	text-align	:	center;
}

.shiftlist		{
	
	color		: #FFF;
	font-size	: 1.5em;
	margin-left	: 50px;
	text-align	:	left;
}
/* end who's on box stuff */

.x5				{
	margin : auto;
	padding : 40px;
	}
	
.x6				{
	padding : 20px;
	
	}
		
.x7				{
	font-size: 1.3em;
	padding : 10px;
	}
	
.x8				{
	width: 59px;
	border : thin maroon solid;
	}
	
.x9				{
	border : thin maroon solid;
	margin : auto;
}

#top_left_box	{
	color: #999999;
	width :170px;
	height : 220px;
	border : thin maroon solid;
	text-align : center;

}

#top_right_box	{

	border : thin maroon solid;

}

#nav_box		{
	font-size: 1.3em;
	width : 150px;
	background-color: #666;
	border : thin maroon solid;
	padding : 10px;
}



.venuetga		{
	width: 550px;
	height: 140px;
	margin : auto;
	border : thin maroon solid;
	background-image: url(../pix/nav/tgagrad.jpg);
}

.venuehtn		{
	width: 550px;
	height: 140px;
	margin : auto;
	border: thin maroon solid;
	background-image: url(../pix/nav/20020104u.jpg);
}

.venueindex		{
	width: 550px;
	background-color: #666;
	margin: auto;
	border : thin maroon solid;
}

.spavenuebox	{
	height : 529px;
	width: 525px;
	background-color: #666;
	border: thin maroon solid;
	background-image: url(../pix/nav/spa.jpg);	
}

.venuebox		{
	height : 529px;
	width: 525px;
	background-color: #666;
	border: thin maroon solid;
	
}

.venuetext		{
	font-size: 1.7em;
	padding : 20px;
}

.wankersbox		{
	height : 529px;
	width: 525px;
	background-color: #666;
	border: thin maroon solid;
	background-image: url(../pix/nav/wall.jpg);	

}

.wankerstext	{
	font-size: 1.6em;
	text-align : center;
	color : black;
	font-weight : bold;
}

.largertext		{
	color: #FFF;
	font-size: 2em;
}



.med1text 		{

	color: #FFF;
	font-size: 1.5em;

}

.main			{
	color: white;
	#font-family: Palatino;
	font-size: 18pt;
}

.credits		{
	background-color: #333333;
	margin : auto;
	width: 895;
	font-family: Arial;
	font-size: 7pt;
	color: #999999;
	text-align : right;

}

.cred_left		{
	float : left;
}

.htntga			{
	font-size : 2em;
	text-align: center;
}

.centre_cell	{
	color : #FFF;
	margin-left : 30px;
	}

.xt				{
	border : solid #666 1px;
	}
	
.xtx			{
	border : solid #666 1px;
	color : #F0C;
	font-size : 1.3em;
	#text-align : center;
	}
	
.xtx_pink		{
	border : solid #666 1px;
	color : #F0C;
	font-size : 1.5em;
	text-align : center;
	}
	
.main_list		{
	margin : auto;
	}
	
.ru18 			{
	text-align: center;
	font-size : 3em;
	color: #FFF;
	}

#blanket		{
background-color	:	#111;
opacity				: 	0.65;
filter				:	alpha(opacity=65);
position			:	absolute;
z-index				:	9001;
top					:	0px;
left				:	0px;
width				:	100%;
	}

.adbox 			{
	float : bottom;
}

#phone 			{
	background-color : #F0C;
	height : 76px;
	font-size : 1.6em;
	border : maroon solid 1px;
	text-align : center;
}

#date			{
	text-align : center;
	height : 25px;
	margin : auto;
	#float : right;
	#padding-right : 40px;
}

#loc			{
	float : left;
	padding-left : 10px;
	#border : solid blue 1px;
}

.smbrk 			{
	font-size : .2em;
}

#topnavStrip	{
	margin : auto;
	border : solid maroon 1px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	text-align : center;
	font-size : 1.1em;
	background-color : #C3C;
}

#bottomnavStrip	{

	margin-bottom : none;
	border : solid maroon 1px;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
	text-align : center;
	font-size : 1.1em;
	background-color : #F69;
}

.ladiesList		{
	text-align : center;
	font-size : 1.5em;
	padding-top : 5px;
}

.clospic		{
	font-family: Arial;
	font-size: 10pt;
	color: #999999;
	float : right;
}

.right_txt		{
	text-align	:	right;
}










